@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(36, 36, 36);
    color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.container{
    background-color: rgb(61, 61, 61);
    width: 60%;
    border-radius: 10px;
    padding: 25px 30px 20px 30px;
}

.box-header h1{
    font-size: 21px;
}

.box-header .box-text{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.box-text .header-tags{
    height: 38px;
    background-color: rgb(33, 33, 33);
    color: #ededed;
    border: none;
    border-radius: 10px;
}

.box-text #input-text{
    width: 93%;
    background-color: rgb(33, 33, 33);
    outline: none;
    padding: 0px 10px;
}

.box-text button{
    width: 32px;
    cursor: pointer;
}

.btn:hover{
    transition: 0.5s;
    background-color: rgb(95, 95, 97);
}

.box-content li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.box-content li span{
    font-size: 16px;
    line-height: 23px;
    padding-left: 5px;
    word-wrap: break-word;
    text-align: justify;
    padding-right: 10px;
}

.box-content li button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(61, 61, 61);
    color: #ededed;
    border: none;
    margin: 3px;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .container{
        width: 650px;
    }

    .box-text #input-text{
        width: 91%;
    }
}

@media screen and (max-width:750px) {
   .container{
        width: 95%;
    }
}

@media screen and (max-width:600px) {
    .container{
        width: 110%;
        padding: 20px 15px 10px 15px;
    }
    .box-header h1{
        font-size: 18px;
    }

    .box-text{
        flex-direction: column;
        align-items: center;
    }
    .box-text #input-text{
        width: 100%;
        margin-bottom: 10px;
    }
    .box-text button{
        width: 100%;
    }
}

@media screen and (max-width:420px) {
    .box-content li{
        flex-direction: column;
        align-items: flex-start;
    }

    .box-content li span{
        margin-bottom: 6px;
    }
}
